@charset "UTF-8";
/* CSS Document */
.body{background-color: #B4E6EE;}
.container
{background-color: #D5A3DD;
	padding: 10px;
	margin-left: 80px;
	margin-right: 80px;
	border: 5px solid #000000;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";}
#text{font-weight: 900;}
